@font-face{
    font-family: cuerpo_Font;
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}

@font-face{
    font-family: titulos_Font;
    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

p {
    font-family: cuerpo_Font;
    font-size: 110%;
}

#about p {
    font-size: 115%;
}

h2 {
    text-decoration: none;
    text-align: center;
    font-size: 250%;
    font-family: titulos_Font;
    margin: 0.2em;
    color: #3D0907;
}

h3 {
    font-size: 175%;
    color: #403B2D;
}

.iconos_simbolos span {
    text-decoration: none;
    text-align: center;
    font-size: 150%;
    padding: 0.5em;
}

input {
    font-family: cuerpo_Font;
    font-size: 125%;
}

span {
    font-family: cuerpo_Font;
}

/* About */
#about {/**/
    border: 1px black solid;
    
    /*background: #FFEDB5;*/
}

#about article{
    text-align: center;
    width: 45%;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2em;
}

#about aside{
    width: 50%;
    float: left;
    display: block;
}

#about img{
    width: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

/* Galeria */
#galery {
    border: 1px black solid;
    background: #FFEDB5;
}

#galery .contenedor img{
    width: 15%;
    margin-left: 0.5em;
}

/* Simbolos */
#simbolos{
    
    border: 1px black solid;
    /*background: #FFEDB5;*/
}

.iconos_simbolos img{
    margin: auto;
    width: 75%;
}

.iconos_simbolos #escudo{
    width: 45%;
}

/* Equipo */
#teams{
    border: 1px black solid;
    background: #FFEDB5;
}

.team img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* Resto del Body */
img {
    width: 40%;
    margin: 0.5em;
    float: right;
}