.form_section {
    padding: 20px 20px 5px;
    text-align: center;
}

.form_section h2{
    text-align: left;
    background-color: #346157;
    padding: 10px;
    color: #eee;
    border-radius: 5px;
}

#f_personal_data {
    padding: 10px;
    width: 50%;
    min-width: 700px;
    background-color: #eee;
    box-shadow: 0px 0px 4px #555 ;
    border-radius: 10px;
    display: inline-block;
}

#f_personal_data label{
    /* display: inline-block; */
    float: left;
    text-align: right;
    padding: 10px 5px;
    margin: 10px auto;
    width: 25%;
    margin: 5px;
}

#f_personal_data input{
    float: left;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border-radius: 7px;
}

#f_personal_data .text_input{
    width: 65%;
    border: #346157 1px solid;
    background-color: #eee;
    color: #111;
    padding: 10px 5px;
    margin: 10px auto;
   
}

#f_personal_data .text_input:focus{
    border: #62A693 1px solid;
    background-color: #fff;
    transition: ease-out all 0.3s;
}

#f_personal_data .d_button_container{
    width: 100%;
    clear: both;
    display: flex;
    justify-content: flex-end;
}

.d_button_container .submit_input{
    font-weight: bolder;
    color: #fff;
    padding: 10px;
    border: solid 1px #346157;
    background-color: #346157;
    margin: 10px;
}

#f_personal_data .submit_input:active{
    transition: 0.3s all linear;
    background-color: #333;
}

#f_personal_data .submit_input:hover{
    box-shadow: 0px 0px 5px #346157;
}

/*Error Messages*/
#f_personal_data .s_error_validation{
    clear: both;
    display: inline-block;
    padding: 0;
    margin: 0;
    display: none;
    text-align: right;
    width: 100%;
    margin-left: -5%;
    color: #A93226;
}

#f_personal_data .s_error_validation ul{
    clear: both;
    display: inline-block;
    padding: 5px;
}

#f_personal_data .s_error_validation ul li {
    list-style: none;
    list-style-type: square;
    text-align: left;
}

#f_personal_data .s_show{
    display: inline-block;
}

/* JavaScript*/

/* Boder error*/
#f_personal_data .s_input_error{
    border: 1px red solid;
}

#f_personal_data .s_input_error:focus{
    border: 1px red solid;
}

#btn_add_tel{
    width: auto;
    font-weight: bolder;
    color: #fff;
    padding: 5px 12px;
    border: solid 1px #777;
    background-color: #64ADF0;
    color: #fff;
    margin: 15px 10px;
    border-radius: 50% !important;
    box-shadow: 0px 0px 3px #333;
}

#btn_add_tel:active {
    background-color: rgb(24, 130, 230);
    transition: 0.3s all;
}
.i_phone {
    width: 25% !important;
    margin-left: 15px !important;
}

.table_container {
    clear: both;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.table_numbers{
    width: 70%;
    padding: 5px 20px;
    margin: 20px;
    border-collapse: collapse;
}

.table_numbers, .table_numbers th, .table_numbers td{
    border: 1px solid #333;

} 

.table_numbers td{
    padding: 5px;
}

.btn{
    text-decoration:  none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: #333 0px 0px 3px;
    display: inline-block;
}

.btn_danger {
    background-color: brown;
    color: #fff;
}

.btn_danger:hover{
    background-color: rgba(165, 42, 42, 0.815);
}