html {
	height: 100%;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	clear: none;
	float: none;
	min-height: 100%;
}

#about, #galery, #simbolos, #teams {
    margin: 1.5em auto;
    border-radius: 50px;
}

/* Zona del About */
#about {
    display: flex;
}
/* Zona de Galeria */
#galery {
    display: grid;
    width: 100%;
    padding: 1em 0em;
}
#galery .contenedor {
    display: table-cell;
}
/* Zona de los Simbolos */
#simbolos {
    display: grid;
}
#simbolo {
    display: table-cell;
    width: 100%;
}
.iconos_simbolos {
    display: grid;
    float: left;
    margin: 1em;
    width: 25%;
    padding: 1em;
}
.iconos_descripcion{
    width: 75%;
    display: block;
    margin: auto;
    padding: 1em;
}
/* Team */
#teams{
    width: 100%;
    display: grid;
    float: left;
}
#teams .contenedor {
    width: 100%;
    display: flex;
}
.team {
    width: 30%;
    display: grid;
    margin: 1em;
}

/* Otros */
input {
    margin: auto;
}