<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<link href="../../css/2_col_layout.css" rel="stylesheet"/>
    <link href="../../css/main_format.css" rel="stylesheet"/>
	<link href="../../css/login.css" rel="stylesheet"/>

	<script src="../../js/create_user_validation.js"></script>
	<script src="../../js/resources.js"></script>
	
	<title>Login</title>
</head>
<body>
	<h2 class="main_title">Iniciar Sesión</h2>
	<section class="login_container">
		<div id="login_img">
			<img src="../../images/login/agenda.jpg" alt="agenda"/>
		</div>
		<form id="f_login" class="form_data" onsubmit="return loginValidation(event)" method="POST">

			<div id="main_notice" class="e_hidden">
				<div id="notice" class="div_notice"></div>
				<img src="../../images/icons/close.png" class="close_x" onclick="hideNotice()">
			</div>
			
			<img src="../../images/login/mail.svg" alt="email icon" class="label_icon">
			<input type="text" name="i_email" id="i_email" class="text_input" placeholder="Email"/>
			<br>
			
			<img src="../../images/login/lock.svg" alt="email icon" class="label_icon">
			<input type="password" name="i_password" id="i_password" class="text_input" placeholder="Contraseña" />
			
			<div class="d_button_container">
				<input type="submit" id="i_send_data" class="submit_input" value="Iniciar Sesión"/>
			</div>
			<h4><a href="create_user.html">Registrarse</a></h4>
			<h4><a href="search_user.php">Buscar</a></h4>
		</form>
	</section>
</body>
</html>
